<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notícias Detalhe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{noticia.imagem}}" />
    <ion-button expand="full" color="primary" (click)="upload(noticia)">Atualizar</ion-button>
    <ion-card-header>
       <ion-card-title>{{noticia.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{noticia.conteudo}}
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="warning" (click)="atualizar(noticia)">Atualizar</ion-button>
<ion-button expand="full" color="danger" (click)="excluir(noticia)">Excluir</ion-button>
</ion-content>
